@import "~taro-ui/dist/style/components/divider.scss";
@import "~taro-ui/dist/style/components/search-bar.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/icon.scss";
$redColor: #ec5d4f;
.page{
  background-color: #efeff4;
  display: flex;
  position: relative;
  overflow: auto;
  .page_content{
    display: flex;
    position: relative;
    overflow: auto;
  }
  .page_left{
    position: fixed;
    width: 168px;
    background: white;
    overflow-y: auto;
    height: 100vh;
    .scrollView{
      height: 100vh;
    }
    .page_left_menu_item{
      padding: 15PX 10PX;
      word-wrap: break-all;
      word-break: normal;
      background: white;
    }
    .page_left_menu_item_active{
      background: #efeff4;
      color: #ec5d4f;
      position: relative;
    }
    .page_left_menu_item_active::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 8px;
      background: linear-gradient(0deg, #ec5d4f, #f5a8a1);
      border-radius: 3px;
    }
   
  }
  .page_right{
    margin-left: 174px;
    flex: 1;
    background-color: #efeff4;
    padding-right: 5px;
    overflow-y: scroll;
    .scrollView2{
       height: 100vh;
    }
    .page_right_food{
    }
    .page_right_food_type{
       padding: 35px 20px 20px 20px;
       text-align: center;
       text-align: center;
       color: #918f8f;
       .divider{
        display: inline-block;
        width: 40PX;
        border-top: 1PX solid #918f8f;
        vertical-align: 4PX;
        margin: 0 20px;
       }
    }
    .page_right_food_item{
      display: flex;
      margin-bottom: 20px;
      border-bottom: 1px solid #efeff4;
      padding: 10px 10px;
      background: white;
      border-radius: 8px;
      .page_right_food_item_left{
         padding-left: 5px;
         display: flex;
         align-items: center;
         margin-right: 18px;
         .page_right_food_item_left_img{
           object-fit: cover;
           width: 180px;
           height: 180px;
           border-radius: 8px;
         }
      }
      .page_right_food_item_right{
        flex: 1;
        .page_right_food_item_right_name{
          font-size: 17.5PX;
          color: #000;
          overflow: hidden; 
          margin-bottom: 3px;
          padding: 10px 0 10px 10px;
        }
        .page_right_food_item_right_price{
          .food_price{
            color: #E83C3C;
            font-size: 18PX;
          }
          .food_danwei{
            font-size: 15PX;
            padding-left: 2PX;
            color: #444343;
          }
        }
        .page_right_food_item_right_vip{
          font-size: 14PX;
        }
        .page_right_food_item_right_stepper{
          padding: 10px 0;
          display: flex;
          justify-content: flex-end;
          align-items:center;
        }
      }
    }
  }
  .page_footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 45PX;
    line-height:  45PX;
    display: flex;
    background-color: white;
    border-top: 1px solid #efeff4;
  }
  .search{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    .serachbar{
      flex: 1;
    }
    .serachbar .at-search-bar{
      padding: 0;
    }
    .serachbar .at-search-bar__action{
      background-color: $redColor;
      height: 33PX;
      line-height: 33PX;
    }
    
  }
  .shopcar{
    width: 95PX;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .shopbtn{
      height: 33PX;
      line-height: 33PX;
      background-color: $redColor;
      color: white;
      padding: 0;
      min-width: 86PX;
    }
  }
}