.page{
  background-color: #efeff4;
  display: flex;
  position: relative;
  overflow: auto;
  .page_left{
    position: fixed;
    width: 168px;
    background: white;
    overflow-y: auto;
    height: 100vh;
    .scrollView{
       height: 100vh;
    }
    .menu{
      .menu_item{
        padding: 30px 20px;
        word-wrap: break-all;
        word-break: normal;
        background: white;
      }
      .menu_item_active{
        background: #efeff4;
        color: #ec5d4f;
        position: relative;
      }
    }
  }
  .page_right{
    flex: 1;
    margin-left: 168px;
    background-color: #efeff4;
    padding-right: 5px;
    overflow-y: scroll;
    padding-left: 5px;
    .scrollView2{}
    .page_right_food_type{
       padding: 35px 20px 20px 20px;
       text-align: center;
       text-align: center;
       color: #918f8f;
       .divider{
        display: inline-block;
        width: 40PX;
        border-top: 1PX solid #918f8f;
        vertical-align: 4PX;
        margin: 0 20px;
       }
    }
    .page_right_food_item{
      display: flex;
      margin-bottom: 20px;
      border-bottom: 1px solid #efeff4;
      padding: 10px 10px;
      background: white;
      border-radius: 8px;
      .page_right_food_item_left{
         padding-left: 5px;
         display: flex;
         align-items: center;
         margin-right: 18px;
         .page_right_food_item_left_img{
           object-fit: cover;
           width: 180px;
           height: 180px;
           border-radius: 8px;
         }
      }
      .page_right_food_item_right{
        flex: 1;
        .page_right_food_item_right_name{
          font-size: 20PX;
          color: #000;
          overflow: hidden; 
          margin-bottom: 3px;
          padding: 10px 0 10px 10px;
        }
        .page_right_food_item_right_price{
          .food_price{
            color: #E83C3C;
            font-size: 18PX;
          }
          .food_danwei{
            font-size: 15PX;
            padding-left: 2PX;
            color: #444343;
          }
        }
        .page_right_food_item_right_vip{
          font-size: 14PX;
        }
        .page_right_food_item_right_stepper{
          padding: 10px 0;
          display: flex;
          justify-content: flex-end;
          align-items:center;
        }
      }
    }
  }
}